*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #2B3837;
}

.logo{
  color: #E8FFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-link a{
  color:#E8FFFF;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu{
  display: none;
}

.menu div{
  width: 25px;
  height: 3px;
  background-color: #E8FFFF;
  margin: 5px;
}

@media screen and (max-width:1024px){
  .nav-link{
    width:60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-link{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #2B3837;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-link a{
    opacity: 0;
  }
  .menu{
    display:block;
  }
}

.nav-active{
  transform: translateX(0%);
}

